* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTES */
@font-face {
  font-family: tituloh1;
  src: url(../assets/fonts/LondrinaSolid-Black.ttf);
}
@font-face {
  font-family: navbarfuente;
  src: url(../assets/fonts/Syne-SemiBold.ttf);
}
.back {
  background-color: aliceblue;
}

.section-principal {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.present-apple {
  text-decoration: none;
}

.section-principal div {
  font-weight: bolder;
  font-size: 29px;
}
.section-principal h2 {
  font-weight: bolder;
  font-size: 29px;
}

.present-apple {
  grid-area: apple;
  background-image: url("../assets/img/photo-1606041011872-596597976b25.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  border-radius: 90px 52px 52px 90px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 75px;
}

.present-apple div h3 {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  background-color: ligh;
  color: #000;
  margin-top: 155px;
  text-align: center;
}

.present-inicio div h3 {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 155px;
  text-align: center;
}

.subtitulo-apple {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: tituloh1;
}

.present-inicio {
  grid-area: sams;
  background-image: url("../assets/img/samsunggggg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  border-radius: 90px 52px 52px 90px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 50px;
}

.subtitulo-sams {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: tituloh1;
  color: black;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: 100px;
  gap: center;
}

.cards {
  width: 15.625rem;
  background-color: lightgreen;
  padding: 0.3125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.3125rem;
  justify-items: center;
  margin-bottom: 30px;
}

.clase-img-iphone img {
  width: 100%;
  object-fit: cover;
}

.cards div h3 {
  padding: 0.0375rem 0rem;
}

.section-texto-principal {
  text-align: center;
  font-size: 19px;
  font-family: navbarfuente;
  font-weight: normal;
  margin-bottom: 35px;
  color: black;
  margin-top: 50px;
}

/*  INICIO ESTILOS CONTACTO */
.contact-body {
  background: url("../assets/img/tech-daily-UODNyThs0vg-unsplash.jpg") no-repeat;
  background-size: 100%;
}

.main-contacto {
  color: #36A0FF;
  font-size: 27px;
  padding: 30px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

/* FOOTER DE CONTACTO */
.footer-nueva {
  background-color: lightgreen;
  margin-top: 346px;
}

.texto-contacto {
  color: black;
  text-align: center;
}

.redes-contacto-nueva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: lightgreen;
}

.presentacion-media {
  display: none;
}

/* NUEVO FOOTER DE TODAS LAS DEMAS PAGES */
.footer-clean {
  padding: 50px 10px;
  background-color: #fff;
  color: black;
  background-color: white;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
  gap: 10%;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item-social {
  text-align: right;
}

.footer-clean .item-social a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item-social a:hover {
  opacity: 0.9;
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.navbar-brand {
  font-family: tituloh1;
  margin-left: 20px;
  color: white;
  font-size: 28px;
  margin-right: 50px;
}

.dropdown-menu li a {
  font-family: navbarfuente;
  color: black;
  font-size: 16px;
}

.nav-link {
  font-family: navbarfuente;
  font-size: 20px;
  color: white;
}

/* INICIO DE MEDIA Q */
@media (max-width: 1351px) {
  .contact-body {
    background-image: url("../assets/img/ifone-13-mini.jpg");
    width: 100%;
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 784px) {
  .container-cards {
    grid-template-columns: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-principal {
    font-size: 15px;
  }
  .section-texto-principal {
    font-size: 15px;
    font-style: italic;
  }
  .main-index {
    background-color: aliceblue;
  }
  .contact-body {
    background-image: none;
    background-color: lightgreen;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
  .footer-clean .item.social {
    text-align: center;
  }
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 584px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTES */
@font-face {
  font-family: tituloh1;
  src: url(../assets/fonts/LondrinaSolid-Black.ttf);
}
@font-face {
  font-family: navbarfuente;
  src: url(../assets/fonts/Syne-SemiBold.ttf);
}
.back {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-principal {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.section-principal .presentacion-14promax {
  width: 800px;
  height: 800px;
  -webkit-animation: tilt-in-top-1 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
.section-principal .titulo-14promax {
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 55px;
}

.present-apple {
  text-decoration: none;
}

.section-principal div {
  font-weight: bolder;
  font-size: 29px;
}
.section-principal h2 {
  font-weight: bolder;
  font-size: 29px;
}

.present-apple {
  grid-area: apple;
  background-image: url("../assets/img/ifone-13-mini.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 90px 52px 52px 90px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 75px;
}

.present-apple div h3 {
  font-size: 40px;
  margin-top: 155px;
  text-align: center;
  color: white;
  margin: 10%;
}

.present-inicio div h3 {
  font-size: 40px;
  color: white;
  margin-top: 155px;
  text-align: center;
  margin: 10%;
}

.present-inicio div .subtitulo-apple {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: tituloh1;
  color: black;
}

.container-cards .cards h3 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.container-cards .cards p {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: black;
  justify-content: center;
  align-items: center;
}

.present-inicio {
  grid-area: sams;
  background-image: url("../assets/img/samsunggggg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  border-radius: 90px 52px 52px 90px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 50px;
}

.present-inicio div .subtitulo-sams {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-family: tituloh1;
  color: black;
}

.navbar-brand {
  font-family: tituloh1;
  margin-left: 20px;
  color: white;
  font-size: 28px;
  margin-right: 50px;
}

.dropdown-menu li a {
  font-family: navbarfuente;
  color: black;
  font-size: 16px;
}

.nav-link {
  font-family: navbarfuente;
  font-size: 20px;
  color: white;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: 100px;
  gap: center;
  justify-items: center;
}

.cards {
  width: 15.625rem;
  background-color: white;
  padding: 0.3125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.3125rem;
  justify-items: center;
  margin-bottom: 30px;
}

.clase-img-iphone img {
  width: 100%;
  object-fit: cover;
}

.cards div h3 {
  padding: 0.0375rem 0rem;
}

.section-texto-principal {
  text-align: center;
  font-size: 19px;
  font-family: navbarfuente;
  font-weight: normal;
  margin-bottom: 35px;
  color: black;
  margin-top: 50px;
}

/*  INICIO ESTILOS CONTACTO */
.contact-body {
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* FOOTER DE CONTACTO */
.footer-clean {
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-nueva {
  background-color: lightblue;
  margin-top: 270px;
}

.texto-contacto {
  color: black;
  text-align: center;
}

.redes-contacto-nueva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: lightgreen;
}

.presentacion-media {
  display: none;
}

/* INICIO DE MEDIA Q */
@media (max-width: 1351px) {
  .container-cards {
    grid-template-columns: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: url(https://cdn3.iconfinder.com/data/icons/basicolor-essentials/24/041_hamburger_menu-256.png);
  }
}
@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
  .section-principal .presentacion-14promax {
    width: auto;
    height: 1000px;
  }
  .section-principal div p {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 784px) {
  .container-cards {
    grid-template-columns: repeat(2, 20%);
  }
  .main-index .section-principal {
    font-size: 12px;
  }
  .section-texto-principal {
    font-size: 15px;
  }
  .main-index {
    background-color: aliceblue;
  }
  .contact-body {
    background-image: none;
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .present-apple div h3 {
    font-size: 40px;
    margin-top: 155px;
    text-align: center;
    color: black;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
  .footer-clean .item.social {
    text-align: center;
  }
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .section-principal .presentacion-14promax {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 584px) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section-principal .presentacion-14promax {
    width: auto;
    height: 500px;
  }
  .section-principal div p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-top: 25px;
    padding-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .section-principal .presentacion-14promax {
    width: auto;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
