@import "./base/reset";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./base/typo";
@import "./layout/main-index";
@import "./layout/header";
@import "./layout/applestore";
@import "./layout/contacto";
@import "./layout/footer";
@import "./layout/navbar";
@import "./layout/mediaquery";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FUENTES */

@font-face {
    font-family: tituloh1;
    src: url(../assets/fonts/LondrinaSolid-Black.ttf);
}

@font-face {
    font-family: navbarfuente;
    src: url(../assets/fonts/Syne-SemiBold.ttf);
}

.back {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.section-principal {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.present-apple {
    text-decoration: none;
}
.section-principal{
    div{
        font-weight: bolder;
        font-size: 29px;
    }
        h2{
            font-weight: bolder;
            font-size: 29px;
        }        
}
.present-apple{
    grid-area: apple;
    background-image: url("../assets/img/photo-1606041011872-596597976b25.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 75px;
}
.present-apple{
    div{
        h3{
            font-size: 40px;
            display: flex;
            flex-direction: row;
            background-color: ligh;
            color: #000;
            margin-top: 155px;
            text-align: center;
        }
    }
}
.present-inicio{
    div{
        h3{
            font-size: 40px;
            display: flex;
            flex-direction: row;
            color: white;
            margin-top: 155px;
            text-align: center;
        }
    }
}
.subtitulo-apple{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: tituloh1;
}  
.present-inicio{
    grid-area: sams;
    background-image: url("../assets/img/samsunggggg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
}
.subtitulo-sams{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: tituloh1;
    color: black;
}
.navbar-brand{
    font-family: tituloh1;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    margin-right: 50px;
}
.dropdown-menu{
    li{
        a{
            font-family: navbarfuente;
            color: black;
            font-size: 16px;
        }
    }
}
.nav-link{
    font-family: navbarfuente;
    font-size: 20px;
    color: white;
}
.container-cards{
    @include grid (repeat(3, 25%), repeat(2, auto), center, 100px, center);
    justify-items: center; 
}
.cards{
    width: 15.625rem;
    background-color: white;
    padding: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3125rem;
    justify-items: center;
    margin-bottom: 30px;
    
}
.clase-img-iphone{
    img{
        width: 100%;
        object-fit: cover;
        
    }
}
.cards{
    div{
        h3{
            padding: .0375rem 0rem;
        }
    }
}
.section-texto-principal{
    text-align: center;
    font-size: 19px;
    font-family: navbarfuente;
    font-weight: normal;
    margin-bottom: 35px;
    color: black;
    margin-top: 50px;
}
/*  INICIO ESTILOS CONTACTO */
.contact-body {
    background: url("../assets/img/tech-daily-UODNyThs0vg-unsplash.jpg") no-repeat;
    background-size: 100%;
}
.main-contacto {
    color: #36A0FF;
    font-size: 27px;
    padding: 30px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/* FOOTER DE CONTACTO */
.footer-nueva {
    background-color: lightgreen;
    margin-top: 346px;
}
.texto-contacto {
    color: black;
    text-align: center;
}
.redes-contacto-nueva{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: lightgreen;
}
.presentacion-media {
    display: none;
}

/* INICIO DE MEDIA Q */
@media (max-width:1351px){
    .contact-body{
        background-image: url("../assets/img/ifone-13-mini.jpg");
        width: 100%;
        background-size: cover;
    }
    .container-cards{
        grid-template-columns: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
}
@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}
@media (max-width: 784px) {
    .container-cards {
        grid-template-columns: auto;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-principal {
        font-size: 15px;
    }

    .section-texto-principal {
        font-size: 15px;
        font-style: italic;
    }
    .main-index {
        background-color: aliceblue;
    }
    .contact-body{
        background-image: none;
        background-color: lightgreen;
        
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
    .footer-clean .item.social {
        text-align: center;
    }
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }

}
@media (max-width:584px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width:375px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
