@import "./base/reset";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./base/typo";
@import "./layout/main-index";
@import "./layout/header";
@import "./layout/applestore";
@import "./layout/contacto";
@import "./layout/footer";
@import "./layout/navbar";
@import "./layout/mediaquery";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUENTES */

@font-face {
    font-family: tituloh1;
    src: url(../assets/fonts/LondrinaSolid-Black.ttf);
}

@font-face {
    font-family: navbarfuente;
    src: url(../assets/fonts/Syne-SemiBold.ttf);
}

.back {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-principal {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.section-principal{
    .presentacion-14promax{
        width: 800px;
        height: 800px;
        -webkit-animation: tilt-in-top-1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
@-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
.section-principal{
    .titulo-14promax{
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 55px;
    }
}
.present-apple {
    text-decoration: none;
}

.section-principal {
    div {
        font-weight: bolder;
        font-size: 29px;
    }

    h2 {
        font-weight: bolder;
        font-size: 29px;
    }
}

.present-apple {
    grid-area: apple;
    background-image: url("../assets/img/ifone-13-mini.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 75px;
}
.present-apple {
    div {
        h3 {
            font-size: 40px;
            margin-top: 155px;
            text-align: center;
            color: white;
            margin: 10%;
        }
    }
}

.present-inicio {
    div {
        h3 {
            font-size: 40px;
            color: white;
            margin-top: 155px;
            text-align: center;
            margin: 10%;
        }
    }
}

.present-inicio{
    div{
        .subtitulo-apple {
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            font-family: tituloh1;
            color: black;
        }
    }
}
.container-cards{
    .cards{
        h3{
            text-align: center;
            color: black;
            margin-bottom: 20px;
        }
    }
}
.container-cards{
    .cards{
        p{
            text-align: center;
            font-size: 19px;
            font-weight: 500;
            color: black;
            justify-content: center;
            align-items: center;
        }
    }
}

.present-inicio {
    grid-area: sams;
    background-image: url("../assets/img/samsunggggg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
}
.present-inicio{
    div{
        .subtitulo-sams {
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            font-family: tituloh1;
            color: black;
        }
    }
}

.navbar-brand {
    font-family: tituloh1;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    margin-right: 50px;
}

.dropdown-menu {
    li {
        a {
            font-family: navbarfuente;
            color: black;
            font-size: 16px;
        }
    }
}

.nav-link {
    font-family: navbarfuente;
    font-size: 20px;
    color: white;
}

.container-cards {
    @include grid (repeat(3, 25%), repeat(2, auto), center, 100px, center);
    justify-items: center;
}

.cards {
    width: 15.625rem;
    background-color: white;
    padding: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3125rem;
    justify-items: center;
    margin-bottom: 30px;

}


.clase-img-iphone {
    img {
        width: 100%;
        object-fit: cover;

    }
}

.cards {
    div {
        h3 {
            padding: .0375rem 0rem;
        }
    }
}
.section-texto-principal {
    text-align: center;
    font-size: 19px;
    font-family: navbarfuente;
    font-weight: normal;
    margin-bottom: 35px;
    color: black;
    margin-top: 50px;
}

/*  INICIO ESTILOS CONTACTO */
.contact-body {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* FOOTER DE CONTACTO */
.footer-clean{
    display: flex;
    justify-content: center;
    background-color: $color-footer-contacto;
}
.footer-nueva {
    background-color: lightblue;
    margin-top: 270px;
}

.texto-contacto {
    color: black;
    text-align: center;
}

.redes-contacto-nueva {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: lightgreen;
}

.presentacion-media {
    display: none;
}

/* INICIO DE MEDIA Q */
@media (max-width:1351px) {
    .container-cards {
        grid-template-columns: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
.navbar-toggler{
    .navbar-toggler-icon {
        background-image: url(https://cdn3.iconfinder.com/data/icons/basicolor-essentials/24/041_hamburger_menu-256.png);
    }
}
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
    .section-principal{
        .presentacion-14promax{
            width: auto;
            height: 1000px;
        }
    }
    .section-principal{
        div{
            p{
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}

@media (max-width: 784px) {
    .container-cards {
        grid-template-columns: repeat(2,20%);
    }

.main-index{
    .section-principal {
        font-size: 12px;
    }
}
.section-texto-principal {
    font-size: 15px;
    ;
}

    .main-index {
        background-color: aliceblue;
    }

    .contact-body {
        background-image: none;
        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eef2f3, #8e9eab);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.present-apple {
    div {
        h3 {
            font-size: 40px;
            margin-top: 155px;
            text-align: center;
            color: black;
        }
    }
}
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }

    .footer-clean .item.social {
        text-align: center;
    }

    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
    .section-principal{
        .presentacion-14promax{
            width: 500px;
            height: 500px;
    }
    }
}

@media (max-width:584px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .section-principal{
        .presentacion-14promax{
            width: auto;
            height: 500px;
    }
    }
    .section-principal{
        div{
            p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                padding-top: 25px;
                padding-bottom: 30px;
            }
        }
    }
}
@media (max-width: 320px){
    .section-principal{
        .presentacion-14promax{
            width: auto;
            height: 300px;
    }
    }
}