@mixin grid ($col, $row, $justify, $items, $gap){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    justify-items: $items;
    gap: $gap;
}