.container-cards {
    @include grid (repeat(3, 25%), repeat(2, auto), center, 100px, center);
    justify-items: center;
}

.cards {
    width: 352px;
    background-color: white;
    padding: .625rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3125rem;
    justify-items: center;
    margin-bottom: 30px;
    height: content;
    
}
.container-cards{
    .cards{
        h3{
            text-align: center;
            color: black;
            margin-bottom: 20px;
        }
    }
}
.container-cards{
    .cards{
        p{
            text-align: center;
            font-size: 19px;
            font-weight: 500;
            color: black;
            justify-content: center;
            align-items: center;
        }
    }
}
.clase-img-iphone {
    img {
        width: 100%;
        object-fit: cover;

    }
}

.cards {
    div {
        h3 {
            padding: .0375rem 0rem;
        }
    }
}
.section-texto-principal {
    text-align: center;
    font-size: 19px;
    font-family: navbarfuente;
    font-weight: normal;
    margin-bottom: 35px;
    color: black;
    margin-top: 50px;
}
div{
    .iphone-14promax{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 35px;
    }
}
.section-texto-principal{
    div{
        h1{
            margin-bottom: 50px;
            font-size: 35px;
            font-weight: bold;
            text-shadow:
            1px 1px 2px black,
            0 0 1em black,
            0 0 0.2em black;
            color: white;
            margin-top: 50px;
            margin-bottom: 60px;
        }
    }
}