.container-cards{
    @include grid (repeat(3, 25%), repeat(2, auto), center, 100px, center); 
}
.cards{
    width: 15.625rem;
    background-color: lightgreen;
    padding: .3125rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3125rem;
    justify-items: center;
    margin-bottom: 30px;
}
.clase-img-iphone{
    img{
        width: 100%;
        object-fit: cover;
    }
}
.cards{
    div{
        h3{
            padding: .0375rem 0rem;
        }
    }
}
.section-texto-principal{
    text-align: center;
    font-size: 19px;
    font-family: navbarfuente;
    font-weight: normal;
    margin-bottom: 35px;
    color: black;
    margin-top: 50px;
}