.back {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-principal {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.section-principal{
    .presentacion-14promax{
        width: 800px;
        height: 800px;
        -webkit-animation: tilt-in-top-1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: tilt-in-top-1 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
@-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
.section-principal{
    .titulo-14promax{
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 55px;
    }
}
.section-principal {
    div {
        font-weight: bolder;
        font-size: 29px;
    }

    h2 {
        font-weight: bolder;
        font-size: 29px;
    }
}

.present-apple {
    grid-area: apple;
    background-image: url("../assets/img/ifone-13-mini.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 75px;
}
.present-apple {
    div {
        h3 {
            text-shadow:
            1px 1px 2px black,
            0 0 1em black,
            0 0 0.2em black;
            color: white;
            font-size: 40px;
            margin-top: 155px;
            text-align: center;
            color: white;
            margin: 10%;
        }
    }
}

.present-inicio {
    div {
        h3 {
            text-shadow:
            1px 1px 2px black,
            0 0 1em black,
            0 0 0.2em black;
            color: white;
            font-size: 40px;
            margin-top: 155px;
            text-align: center;
            color: white;
            margin: 10%;
        }
    }
}

.present-apple{
    div{
        .subtitulo-apple {
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            font-family: tituloh1;
            color: black;
        }
    }
}

.present-inicio {
    grid-area: sams;
    background-image: url("../assets/img/samsunggggg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    border-radius: 90px 52px 52px 90px;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
}
.present-inicio{
    div{
        .subtitulo-sams {
            text-align: center;
            font-size: 40px;
            font-weight: bolder;
            font-family: tituloh1;
            color: black;
        }
    }
}
