.navbar-brand {
    font-family: tituloh1;
    margin-left: 20px;
    color: white;
    font-size: 28px;
    margin-right: 50px;
}

.dropdown-menu {
    li {
        a {
            font-family: navbarfuente;
            color: black;
            font-size: 16px;
        }
    }
}

.nav-link {
    font-family: navbarfuente;
    font-size: 20px;
    color: white;
}