/* FUENTES */

@font-face {
    font-family: tituloh1;
    src: url(../assets/fonts/LondrinaSolid-Black.ttf);
}

@font-face {
    font-family: navbarfuente;
    src: url(../assets/fonts/Syne-SemiBold.ttf);
}